<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>79950976245-3et1ect4fk1k38mk3hf4hba5pnavfdjg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.79950976245-3et1ect4fk1k38mk3hf4hba5pnavfdjg</string>
	<key>API_KEY</key>
	<string>AIzaSyBHMct3BZPaySQ-m9PkSjTHjGdNgdNX0e0</string>
	<key>GCM_SENDER_ID</key>
	<string>79950976245</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatApp</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-2f68d</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-2f68d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:79950976245:ios:6d961ac72d62cf8c7e61bc</string>
</dict>
</plist>